* {
  background: #e5e5e5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  list-style: none;
}

a {
  color: black;
}

p {
  font-size: 14px;
}

.root {
  width: 900px;
  margin: auto;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

h2 {
  font-size: 30px;
}

.languages {
  display: flex;
  padding-inline: 44px;
  align-items: center;
}

.translateText {
  font-size: 12px;
  padding-inline: 18px;
}

.down {
  position: absolute;
  margin-left: 68px;
  border: solid rgba(0, 0, 0, 0.705);
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.circulo {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #6366f1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 0px;
}

.hamburger {
  width: 27px;
  height: 15px;
  position: absolute;
  padding-inline: 7px;
  background: none;
}

.imgtexture {
  position: relative;
  justify-content: center;
  width: 135px;
  height: 135px;
}

.profilepicture {
  position: relative;
  width: 205px;
  height: 215px;
  border: 4px solid rgba(99, 102, 241, 0.8);
  border-radius: 30px;
  margin-top: -100px;
  margin-left: 40px;
}

.descriptiongrettings {
  width: 300px;
  padding: 20px;
}

.highlightlane {
  background-color: rgba(99, 102, 241, 0.3);
  height: 13px;
  width: 170px;
  border-radius: 18px;
  border: none;
}

.lanedescription {
  width: 300px;
  margin-top: -55px;
}

.arrowscrolldown {
  display: flex;
}
.scroll {
  font-size: 12px;
  position: absolute;
  margin-top: 2em;
  padding-inline: 20px;
}

.arrowscrolldown {
  display: inline;
  background-color: none;
}

section {
  margin-top: 100px;
}

.title {
  display: inline;
}

.sidelane {
  margin: 13px 40px;
}

.aboutmedescription {
  width: 65%;
  letter-spacing: 0.1em;
  font-size: 15px;
  line-height: 40px;
  display: inline-block;
}

.lane {
  position: absolute;
  display: inline-block;
  background-color: #6366f1;
  border: 2px solid #6366f1;
  height: 0px;
  width: 80px;
  margin-top: 15px;
}

.button {
  background-color: #6366f1;
  border: none;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 12px;
  border-radius: 25px;
  padding-inline: 30px;
  letter-spacing: 1px;
}

.resumebutton {
  margin-top: -40px;
}

.aboutmetext {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titlecenter {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.projectsblock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: unset;
  position: relative;
}

.projectcontent {
  box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 15%);
  width: 27%;
  height: 155px;
  border-radius: 10px;
  border: 20px solid #e5e5e5;
}

.projectdetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contentbottom {
  margin-top: 40px;
}
.javascript {
  box-shadow: 0px 4px 6px 1px rgb(0 0 0 / 15%);
  border-radius: 25px;
  padding: 5px 12px;
  font-style: unset;
  align-items: center;
}

.projectlane {
  margin-top: 5px;
  width: 80px;
}

.circletextureone {
  position: absolute;
  margin: -24px -60px;
}

.circletexturetwo {
  float: left;
  margin: -125px 810px;
}

.seemorebutton {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.blogscontent {
  margin-top: 45px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: inherit;
}

.article {
  width: 390px;
  margin-bottom: 25px;
}

.articlelink {
  font-weight: bold;
}

.morearticlebutton {
  display: inline-block;
  margin-left: 650px;
}

.skillsdescription {
  width: 600px;
  display: block;
  margin: 35px auto;
  letter-spacing: 0.1em;
  font-size: 15px;
  line-height: 40px;
  text-align: center;
}

.icons {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}

.icons li {
  margin-right: 10px;
}

footer {
  margin-top: 100px;
  margin-bottom: 150px;
}

footer h3 {
  color: rgb(84, 84, 84);
  font-size: 2em;
  letter-spacing: 0.01em;
}

.email {
  font-weight: bold;
  font-size: 30px;
  line-height: 53px;
  letter-spacing: 0.01em;
  color: rgb(38, 38, 38);
}

.lanegetintouch {
  position: absolute;
  width: 355px;
  margin-top: -20px;
}

.socialmedia {
  float: right;
  padding: 0px;
  margin-top: -12px;
}
.socialmedia li {
  display: inline-block;
}
